<h1>Log in</h1>

<%= form_for :session, url: sessions_path do |f| %>

  <div class="log-in email">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>

  <div class="log-in password">
  <%= f.label :password %>
  <%= f.text_field :password %>
  </div>

  <div class="log-in password_confirmation">
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
  </div>
  
  <%= f.submit "Log in" %>

<% end %>
