<h1> <%= @restaurant.name %> </h1>

Location : <%= @restaurant.location %> <br>
<br>
Type of Food : <%= @restaurant.type_of_food %> <br>
<br>
Open <%= convert_time_hours(@restaurant.start_time) %> | Close <%= convert_time_hours(@restaurant.end_time) %>

<br>
<br>
<br>
<h3>Make a Reservation now!</h3>

<%= form_for [@restaurant, @reservation]   do |f|%>

<div class="field">
<%= f.label :reservation_time %>
<%= f.datetime_select(:reservation_time, default: 1.hour.from_now, ampm: true, start_hour: @restaurant.start_time.hour.to_i, end_hour: @restaurant.end_time.hour.to_i,datetime_separator: 'Time:',discard_minute: true,start_year: Date.today.year) %>
<%= f.select :party_size, (2..10) %>
</div>
<br>
<%= submit_tag "Find a Table" %>
<% end %>
<br>
<br>
<br>
<%= link_to "Back", restaurants_path %>
